<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SupportsSwiftPackage</key>
	<true/>
	<key>Kind</key>
	<string>Xcode.IDEFoundation.TextSubstitutionFileTemplateKind</string>
	<key>Description</key>
	<string>A complete MealProduct SwiftData layout with CRUD functionality for FoodDiary app</string>
	<key>Summary</key>
	<string>MealProduct SwiftData Layout</string>
	<key>SortOrder</key>
	<string>2</string>
	<key>AllowedTypes</key>
	<array>
		<string>public.swift-source</string>
	</array>
	<key>Platforms</key>
	<array/>
	<key>DefaultCompletionName</key>
	<string>MealProduct</string>
	<key>MainTemplateFile</key>
	<string>MealProductEditScreen.swift</string>
	<key>Image</key>
	<dict>
		<key>FileTypeIcon</key>
		<string>swift</string>
	</dict>
	<key>Options</key>
	<array/>
</dict>
</plist>
