<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Identifier</key>
	<string>app.oversize.multiplatform.baseapp.swiftui</string>
	<key>Ancestors</key>
	<array>
		<string>com.apple.dt.unit.applicationBase</string>
		<string>com.apple.dt.unit.storageType</string>
	</array>
	<key>NameOfInitialFileForEditor</key>
	<string>RootView.swift</string>
	<key>SortOrder</key>
	<integer>1</integer>
	<key>Targets</key>
	<array>
		<dict>
			<key>TargetIdentifier</key>
			<string>com.apple.dt.applicationTarget</string>
			<key>SharedSettings</key>
			<dict>
				<key>ENABLE_PREVIEWS</key>
				<string>YES</string>
				<key>ASSETCATALOG_COMPILER_APPICON_NAME</key>
				<string>AppIcon</string>
				<key>ASSETCATALOG_COMPILER_GLOBAL_ACCENT_COLOR_NAME</key>
				<string>AccentColor</string>
			</dict>
		</dict>
	</array>
	<key>Options</key>
	<array>
		<dict>
			<key>Identifier</key>
			<string>app-platform</string>
			<key>Default</key>
			<string>iOS</string>
			<key>Description</key>
			<string>App Xcodegen platform</string>
			<key>Name</key>
			<string>Platform:</string>
			<key>Type</key>
			<string>popup</string>
			<key>SortOrder</key>
			<integer>100</integer>
			<key>Values</key>
			<array>
				<string>iOS</string>
				<string>macOS</string>
			</array>
			<key>ValueTitles</key>
			<array>
				<string>iOS</string>
				<string>macOS</string>
			</array>
			<key>Units</key>
			<dict>
				<key>iOS</key>
				<array>
					<dict>
						<key>Nodes</key>
						<array>
							<string>Resources/LaunchScreen.storyboard</string>
						</array>
						<key>Definitions</key>
						<dict>
							<key>Resources/LaunchScreen.storyboard</key>
							<dict>
								<key>Path</key>
								<string>LaunchScreen.storyboard</string>
								<key>Group</key>
								<array>
									<string>Resources</string>
								</array>
								<key>SortOrder</key>
								<integer>20</integer>
							</dict>
						</dict>
					</dict>
				</array>
				<key>macOS</key>
				<array/>
			</dict>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>navigation-type</string>
			<key>Default</key>
			<string>TabBar</string>
			<key>Description</key>
			<string>App Navigation type</string>
			<key>Name</key>
			<string>Navigation:</string>
			<key>Type</key>
			<string>popup</string>
			<key>SortOrder</key>
			<integer>101</integer>
			<key>Values</key>
			<array>
				<string>Basic</string>
				<string>TabBar</string>
			</array>
			<key>ValueTitles</key>
			<array>
				<string>Basic</string>
				<string>TabBar</string>
			</array>
			<key>Units</key>
			<dict>
				<key>Basic</key>
				<array>
					<dict>
						<key>Nodes</key>
						<array/>
						<key>Definitions</key>
						<dict/>
					</dict>
				</array>
				<key>TabBar</key>
				<array>
					<dict>
						<key>Nodes</key>
						<array>
							<string>Root/RootTabView.swift</string>
							<string>Root/RootSplitView.swift</string>
							<string>Navigation/ResolveTabs.swift</string>
							<string>Navigation/MainDestinations.swift</string>
							<string>Navigation/OnboardingDestinations.swift</string>
							<string>Navigation/AppSettingsDestinations.swift</string>
						</array>
						<key>Definitions</key>
						<dict>
							<key>Root/RootTabView.swift</key>
							<dict>
								<key>Path</key>
								<string>RootTabView.swift</string>
								<key>Group</key>
								<array>
									<string>Root</string>
								</array>
								<key>SortOrder</key>
								<integer>21</integer>
							</dict>
							<key>Root/RootSplitView.swift</key>
							<dict>
								<key>Path</key>
								<string>RootSplitView.swift</string>
								<key>Group</key>
								<array>
									<string>Root</string>
								</array>
								<key>SortOrder</key>
								<integer>22</integer>
							</dict>
							<key>Navigation/ResolveTabs.swift</key>
							<dict>
								<key>Path</key>
								<string>ResolveTabs.swift</string>
								<key>Group</key>
								<array>
									<string>Navigation</string>
								</array>
								<key>SortOrder</key>
								<integer>30</integer>
							</dict>
							<key>Navigation/MainDestinations.swift</key>
							<dict>
								<key>Path</key>
								<string>MainDestinations.swift</string>
								<key>Group</key>
								<array>
									<string>Navigation</string>
								</array>
								<key>SortOrder</key>
								<integer>31</integer>
							</dict>
							<key>Navigation/OnboardingDestinations.swift</key>
							<dict>
								<key>Path</key>
								<string>OnboardingDestinations.swift</string>
								<key>Group</key>
								<array>
									<string>Navigation</string>
								</array>
								<key>SortOrder</key>
								<integer>32</integer>
							</dict>
							<key>Navigation/AppSettingsDestinations.swift</key>
							<dict>
								<key>Path</key>
								<string>AppSettingsDestinations.swift</string>
								<key>Group</key>
								<array>
									<string>Navigation</string>
								</array>
								<key>SortOrder</key>
								<integer>33</integer>
							</dict>
						</dict>
					</dict>
				</array>
			</dict>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>languageChoice</string>
			<key>Override</key>
			<string>Swift</string>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>appLifecycle</string>
			<key>Override</key>
			<string>SwiftUI</string>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>storageType</string>
			<key>Units</key>
			<dict>
				<key>Core Data</key>
				<array>
					<dict>
						<key>Nodes</key>
						<array>
							<string>App/___PACKAGENAME:identifier___App.swift</string>
							<string>Persistence.swift</string>
							<string>___PACKAGENAME:identifier___.xcdatamodeld</string>
						</array>
						<key>Definitions</key>
						<dict>
							<key>App/___PACKAGENAME:identifier___App.swift</key>
							<dict>
								<key>Path</key>
								<string>App-CoreData.swift</string>
								<key>Group</key>
								<array>
									<string>App</string>
								</array>
								<key>SortOrder</key>
								<integer>10</integer>
							</dict>
							<key>Persistence.swift</key>
							<dict>
								<key>Path</key>
								<string>Persistence-CoreData.swift</string>
								<key>SortOrder</key>
								<integer>15</integer>
							</dict>
							<key>___PACKAGENAME:identifier___.xcdatamodeld</key>
							<dict>
								<key>Path</key>
								<string>DataModel.xcdatamodeld</string>
								<key>SortOrder</key>
								<integer>16</integer>
							</dict>
						</dict>
					</dict>
				</array>
				<key>SwiftData</key>
				<array>
					<dict>
						<key>Nodes</key>
						<array>
							<string>App/___PACKAGENAME:identifier___App.swift</string>
						</array>
						<key>Definitions</key>
						<dict>
							<key>App/___PACKAGENAME:identifier___App.swift</key>
							<dict>
								<key>Path</key>
								<string>App-SwiftData.swift</string>
								<key>Group</key>
								<array>
									<string>App</string>
								</array>
								<key>SortOrder</key>
								<integer>10</integer>
							</dict>
						</dict>
						<key>Targets</key>
						<array>
							<dict>
								<key>SharedSettings</key>
								<dict>
									<key>MACOSX_DEPLOYMENT_TARGET</key>
									<string>14.0</string>
								</dict>
							</dict>
						</array>
					</dict>
				</array>
				<key>None</key>
				<array>
					<dict>
						<key>Nodes</key>
						<array>
							<string>App/___PACKAGENAME:identifier___App.swift</string>
						</array>
						<key>Definitions</key>
						<dict>
							<key>App/___PACKAGENAME:identifier___App.swift</key>
							<dict>
								<key>Path</key>
								<string>App.swift</string>
								<key>Group</key>
								<array>
									<string>App</string>
								</array>
								<key>SortOrder</key>
								<integer>10</integer>
							</dict>
						</dict>
					</dict>
				</array>
			</dict>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>modelName</string>
			<key>Name</key>
			<string>Model name:</string>
			<key>NotPersisted</key>
			<false/>
			<key>SortOrder</key>
			<integer>210</integer>
			<key>Type</key>
			<string>text</string>
			<key>Default</key>
			<string>DataModel</string>
		</dict>
	</array>
	<key>Nodes</key>
	<array>
		<string>Root/RootView.swift</string>
		<string>Navigation/ResolveRoot.swift</string>
		<string>Resources/Assets.xcassets</string>
		<string>Resources/Development/Preview Assets.xcassets</string>
		<string>Resources/Icons/AppIcon.icon</string>
		<string>Resources/Icons/AppIcon(Dev).icon</string>
		<string>Resources/AltIcons/AppIcon1.icon</string>
		<string>Resources/AltIcons/AppIcon2.icon</string>
		<string>Resources/AltIcons/AppIcon3.icon</string>
		<string>Resources/AltIcons/AppIcon4.icon</string>
	</array>
	<key>Definitions</key>
	<dict>
		<key>Root/RootView.swift</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Root</string>
			</array>
			<key>Path</key>
			<string>RootView.swift</string>
			<key>SortOrder</key>
			<integer>20</integer>
		</dict>
		<key>Navigation/ResolveRoot.swift</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Navigation</string>
			</array>
			<key>Path</key>
			<string>ResolveRoot.swift</string>
			<key>SortOrder</key>
			<integer>100</integer>
		</dict>
		<key>Resources/Assets.xcassets</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Resources</string>
			</array>
			<key>Path</key>
			<string>Assets.xcassets</string>
			<key>AssetGeneration</key>
			<array>
				<dict>
					<key>Type</key>
					<string>image</string>
					<key>Name</key>
					<string>OnbardingBackground</string>
					<key>Platforms</key>
					<dict>
						<key>iOS</key>
						<string>true</string>
						<key>macOS</key>
						<string>true</string>
					</dict>
				</dict>
				<dict>
					<key>Type</key>
					<string>image</string>
					<key>Name</key>
					<string>LaunchIcon</string>
					<key>Platforms</key>
					<dict>
						<key>iOS</key>
						<string>true</string>
					</dict>
				</dict>
			</array>
			<key>SortOrder</key>
			<integer>100</integer>
		</dict>
		<key>Resources/Development/Preview Assets.xcassets</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Resources</string>
				<string>Development</string>
			</array>
			<key>SortOrder</key>
			<integer>100</integer>
			<key>Path</key>
			<string>Preview Assets.xcassets</string>
		</dict>
		<key>Resources/Icons/AppIcon.icon</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Resources</string>
				<string>Icons</string>
			</array>
			<key>SortOrder</key>
			<integer>100</integer>
			<key>Path</key>
			<string>AppIcon.icon</string>
		</dict>
		<key>Resources/Icons/AppIcon(Dev).icon</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Resources</string>
				<string>Icons</string>
			</array>
			<key>SortOrder</key>
			<integer>100</integer>
			<key>Path</key>
			<string>AppIcon(Dev).icon</string>
		</dict>
		<key>Resources/AltIcons/AppIcon1.icon</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Resources</string>
				<string>AltIcons</string>
			</array>
			<key>SortOrder</key>
			<integer>101</integer>
			<key>Path</key>
			<string>AltIcons/AppIcon1.icon</string>
		</dict>
		<key>Resources/AltIcons/AppIcon2.icon</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Resources</string>
				<string>AltIcons</string>
			</array>
			<key>SortOrder</key>
			<integer>102</integer>
			<key>Path</key>
			<string>AltIcons/AppIcon2.icon</string>
		</dict>
		<key>Resources/AltIcons/AppIcon3.icon</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Resources</string>
				<string>AltIcons</string>
			</array>
			<key>SortOrder</key>
			<integer>103</integer>
			<key>Path</key>
			<string>AltIcons/AppIcon3.icon</string>
		</dict>
		<key>Resources/AltIcons/AppIcon4.icon</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Resources</string>
				<string>AltIcons</string>
			</array>
			<key>SortOrder</key>
			<integer>104</integer>
			<key>Path</key>
			<string>AltIcons/AppIcon4.icon</string>
		</dict>
	</dict>
	<key>Image</key>
	<dict>
		<key>BundleImageName</key>
		<string>app</string>
		<key>BundleIdentifier</key>
		<string>com.apple.dt.IDEKit</string>
	</dict>
</dict>
</plist>
