<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Identifier</key>
	<string>app.oversize.multiplatform.baseapp.swiftui</string>
	<key>Ancestors</key>
	<array>
		<string>com.apple.dt.unit.applicationBase</string>
	</array>
	<key>NameOfInitialFileForEditor</key>
	<string>RootView.swift</string>
	<key>SortOrder</key>
	<integer>1</integer>
	<key>Targets</key>
	<array>
		<dict>
			<key>TargetIdentifier</key>
			<string>com.apple.dt.applicationTarget</string>
			<key>SharedSettings</key>
			<dict>
				<key>ENABLE_PREVIEWS</key>
				<string>YES</string>
				<key>ASSETCATALOG_COMPILER_APPICON_NAME</key>
				<string>AppIcon</string>
				<key>ASSETCATALOG_COMPILER_GLOBAL_ACCENT_COLOR_NAME</key>
				<string>AccentColor</string>
			</dict>
		</dict>
	</array>
	<key>Options</key>
	<array>
		<dict>
			<key>Identifier</key>
			<string>app-platform</string>
			<key>Default</key>
			<string>iOS</string>
			<key>Description</key>
			<string>App Xcodegen platform</string>
			<key>Name</key>
			<string>Platform:</string>
			<key>Type</key>
			<string>popup</string>
			<key>SortOrder</key>
			<integer>100</integer>
			<key>Values</key>
			<array>
				<string>iOS</string>
				<string>macOS</string>
			</array>
			<key>ValueTitles</key>
			<array>
				<string>iOS</string>
				<string>macOS</string>
			</array>
			<key>Units</key>
			<dict>
				<key>iOS</key>
				<array>
					<dict>
						<key>Nodes</key>
						<array>
							<string>Resources/LaunchScreen.storyboard</string>
						</array>
						<key>Definitions</key>
						<dict>
							<key>Resources/LaunchScreen.storyboard</key>
							<dict>
								<key>Path</key>
								<string>LaunchScreen.storyboard</string>
								<key>Group</key>
								<array>
									<string>Resources</string>
								</array>
								<key>SortOrder</key>
								<integer>20</integer>
							</dict>
						</dict>
					</dict>
				</array>
				<key>macOS</key>
				<array/>
			</dict>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>languageChoice</string>
			<key>Override</key>
			<string>Swift</string>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>appLifecycle</string>
			<key>Override</key>
			<string>SwiftUI</string>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>modelName</string>
			<key>Name</key>
			<string>Model name:</string>
			<key>Description</key>
			<string>The name of the model to create</string>
			<key>NotPersisted</key>
			<false/>
			<key>Required</key>
			<true/>
			<key>SortOrder</key>
			<integer>210</integer>
			<key>Type</key>
			<string>text</string>
			<key>Default</key>
			<string>Item</string>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>modelVariableName</string>
			<key>Name</key>
			<string>Model variable:</string>
			<key>Description</key>
			<string>The name of the model variable</string>
			<key>NotPersisted</key>
			<false/>
			<key>Required</key>
			<true/>
			<key>SortOrder</key>
			<integer>211</integer>
			<key>Type</key>
			<string>text</string>
			<key>Default</key>
			<string>item</string>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>modelPluralVariableName</string>
			<key>Name</key>
			<string>Model plural variable:</string>
			<key>Description</key>
			<string>The name of the model plural variable</string>
			<key>NotPersisted</key>
			<false/>
			<key>Required</key>
			<true/>
			<key>SortOrder</key>
			<integer>212</integer>
			<key>Type</key>
			<string>text</string>
			<key>Default</key>
			<string>items</string>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>navigation-type</string>
			<key>Default</key>
			<string>Basic</string>
			<key>Description</key>
			<string>App Navigation type</string>
			<key>Name</key>
			<string>Navigation:</string>
			<key>Type</key>
			<string>popup</string>
			<key>SortOrder</key>
			<integer>101</integer>
			<key>Values</key>
			<array>
				<string>Basic</string>
				<string>TabBar</string>
			</array>
			<key>ValueTitles</key>
			<array>
				<string>Basic</string>
				<string>TabBar</string>
			</array>
			<key>Units</key>
			<dict>
				<key>Basic</key>
				<array>
					<dict>
						<key>Nodes</key>
						<array>
							<string>Root/RootView.swift</string>
							<string>Navigation/Stacks/MainNavigationStack.swift</string>
						</array>
						<key>Definitions</key>
						<dict>
							<key>Root/RootView.swift</key>
							<dict>
								<key>Path</key>
								<string>RootView-Basic.swift</string>
								<key>Group</key>
								<array>
									<string>Root</string>
								</array>
								<key>SortOrder</key>
								<integer>20</integer>
							</dict>
							<key>Navigation/Stacks/MainNavigationStack.swift</key>
							<dict>
								<key>Path</key>
								<string>MainNavigationStack-Basic.swift</string>
								<key>Group</key>
								<array>
									<string>Navigation</string>
									<string>Stacks</string>
								</array>
								<key>SortOrder</key>
								<integer>41</integer>
							</dict>
						</dict>
					</dict>
				</array>
				<key>TabBar</key>
				<array>
					<dict>
						<key>Nodes</key>
						<array>
							<string>Root/RootView.swift</string>
							<string>Navigation/Tabs/ResolveTabs.swift</string>
							<string>Navigation/Stacks/MainNavigationStack.swift</string>
						</array>
						<key>Definitions</key>
						<dict>
							<key>Root/RootView.swift</key>
							<dict>
								<key>Path</key>
								<string>RootView.swift</string>
								<key>Group</key>
								<array>
									<string>Root</string>
								</array>
								<key>SortOrder</key>
								<integer>20</integer>
							</dict>
							<key>Navigation/Tabs/ResolveTabs.swift</key>
							<dict>
								<key>Path</key>
								<string>ResolveTabs.swift</string>
								<key>Group</key>
								<array>
									<string>Navigation</string>
									<string>Tabs</string>
								</array>
								<key>SortOrder</key>
								<integer>30</integer>
							</dict>
							<key>Navigation/Stacks/MainNavigationStack.swift</key>
							<dict>
								<key>Path</key>
								<string>MainNavigationStack.swift</string>
								<key>Group</key>
								<array>
									<string>Navigation</string>
									<string>Stacks</string>
								</array>
								<key>SortOrder</key>
								<integer>41</integer>
							</dict>
						</dict>
					</dict>
				</array>
			</dict>
		</dict>
	</array>
	<key>Nodes</key>
	<array>
		<string>App/___PACKAGENAME:identifier___App.swift</string>
		<string>Navigation/Stacks/OnboardingNavigationStack.swift</string>
		<string>Navigation/Stacks/AppSettingsNavigationStack.swift</string>
		<string>Navigation/Destinations/MainDestinations.swift</string>
		<string>Navigation/Destinations/OnboardingDestinations.swift</string>
		<string>Navigation/Destinations/AppSettingsDestinations.swift</string>
		<string>Resources/Assets.xcassets</string>
		<string>Resources/Development/Preview Assets.xcassets</string>
		<string>Resources/Icons/AppIcon.icon</string>
		<string>Resources/Icons/AppIcon(Dev).icon</string>
		<string>Resources/AltIcons/AppIcon1.icon</string>
		<string>Resources/AltIcons/AppIcon2.icon</string>
		<string>Resources/AltIcons/AppIcon3.icon</string>
		<string>Resources/AltIcons/AppIcon4.icon</string>
	</array>
	<key>Definitions</key>
	<dict>
		<key>App/___PACKAGENAME:identifier___App.swift</key>
		<dict>
			<key>Path</key>
			<string>App.swift</string>
			<key>Group</key>
			<array>
				<string>App</string>
			</array>
			<key>SortOrder</key>
			<integer>10</integer>
		</dict>
		<key>Navigation/Stacks/OnboardingNavigationStack.swift</key>
		<dict>
			<key>Path</key>
			<string>OnboardingNavigationStack.swift</string>
			<key>Group</key>
			<array>
				<string>Navigation</string>
				<string>Stacks</string>
			</array>
			<key>SortOrder</key>
			<integer>40</integer>
		</dict>
		<key>Navigation/Stacks/AppSettingsNavigationStack.swift</key>
		<dict>
			<key>Path</key>
			<string>AppSettingsNavigationStack.swift</string>
			<key>Group</key>
			<array>
				<string>Navigation</string>
				<string>Stacks</string>
			</array>
			<key>SortOrder</key>
			<integer>42</integer>
		</dict>
		<key>Navigation/Destinations/MainDestinations.swift</key>
		<dict>
			<key>Path</key>
			<string>MainDestinations.swift</string>
			<key>Group</key>
			<array>
				<string>Navigation</string>
				<string>Destinations</string>
			</array>
			<key>SortOrder</key>
			<integer>50</integer>
		</dict>
		<key>Navigation/Destinations/OnboardingDestinations.swift</key>
		<dict>
			<key>Path</key>
			<string>OnboardingDestinations.swift</string>
			<key>Group</key>
			<array>
				<string>Navigation</string>
				<string>Destinations</string>
			</array>
			<key>SortOrder</key>
			<integer>51</integer>
		</dict>
		<key>Navigation/Destinations/AppSettingsDestinations.swift</key>
		<dict>
			<key>Path</key>
			<string>AppSettingsDestinations.swift</string>
			<key>Group</key>
			<array>
				<string>Navigation</string>
				<string>Destinations</string>
			</array>
			<key>SortOrder</key>
			<integer>52</integer>
		</dict>
		<key>Resources/Assets.xcassets</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Resources</string>
			</array>
			<key>Path</key>
			<string>Assets.xcassets</string>
			<key>AssetGeneration</key>
			<array>
				<dict>
					<key>Type</key>
					<string>image</string>
					<key>Name</key>
					<string>OnbardingBackground</string>
					<key>Platforms</key>
					<dict>
						<key>iOS</key>
						<string>true</string>
						<key>macOS</key>
						<string>true</string>
					</dict>
				</dict>
				<dict>
					<key>Type</key>
					<string>image</string>
					<key>Name</key>
					<string>LaunchIcon</string>
					<key>Platforms</key>
					<dict>
						<key>iOS</key>
						<string>true</string>
					</dict>
				</dict>
			</array>
			<key>SortOrder</key>
			<integer>100</integer>
		</dict>
		<key>Resources/Development/Preview Assets.xcassets</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Resources</string>
				<string>Development</string>
			</array>
			<key>SortOrder</key>
			<integer>100</integer>
			<key>Path</key>
			<string>Preview Assets.xcassets</string>
		</dict>
		<key>Resources/Icons/AppIcon.icon</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Resources</string>
				<string>Icons</string>
			</array>
			<key>SortOrder</key>
			<integer>100</integer>
			<key>Path</key>
			<string>AppIcon.icon</string>
		</dict>
		<key>Resources/Icons/AppIcon(Dev).icon</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Resources</string>
				<string>Icons</string>
			</array>
			<key>SortOrder</key>
			<integer>100</integer>
			<key>Path</key>
			<string>AppIcon(Dev).icon</string>
		</dict>
		<key>Resources/AltIcons/AppIcon1.icon</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Resources</string>
				<string>AltIcons</string>
			</array>
			<key>SortOrder</key>
			<integer>101</integer>
			<key>Path</key>
			<string>AltIcons/AppIcon1.icon</string>
		</dict>
		<key>Resources/AltIcons/AppIcon2.icon</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Resources</string>
				<string>AltIcons</string>
			</array>
			<key>SortOrder</key>
			<integer>102</integer>
			<key>Path</key>
			<string>AltIcons/AppIcon2.icon</string>
		</dict>
		<key>Resources/AltIcons/AppIcon3.icon</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Resources</string>
				<string>AltIcons</string>
			</array>
			<key>SortOrder</key>
			<integer>103</integer>
			<key>Path</key>
			<string>AltIcons/AppIcon3.icon</string>
		</dict>
		<key>Resources/AltIcons/AppIcon4.icon</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Resources</string>
				<string>AltIcons</string>
			</array>
			<key>SortOrder</key>
			<integer>104</integer>
			<key>Path</key>
			<string>AltIcons/AppIcon4.icon</string>
		</dict>
	</dict>
	<key>Image</key>
	<dict>
		<key>BundleImageName</key>
		<string>app</string>
		<key>BundleIdentifier</key>
		<string>com.apple.dt.IDEKit</string>
	</dict>
</dict>
</plist>
