<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SupportsSwiftPackage</key>
	<true/>
	<key>Kind</key>
	<string>Xcode.IDEFoundation.TextSubstitutionFileTemplateKind</string>
	<key>Description</key>
	<string>A SwiftUI custom view with preview and library content provider</string>
	<key>Summary</key>
	<string>SwiftUI Screens</string>
	<key>SortOrder</key>
	<string>1</string>
	<key>AllowedTypes</key>
	<array>
		<string>public.swift-source</string>
	</array>
	<key>Platforms</key>
	<array/>
	<key>DefaultCompletionName</key>
	<string>View</string>
	<key>MainTemplateFile</key>
	<string>___VARIABLE_productName___EditScreen.swift</string>
	<key>Image</key>
	<dict>
		<key>FileTypeIcon</key>
		<string>swift</string>
	</dict>
	<key>Options</key>
	<array>
		<dict>
			<key>Identifier</key>
			<string>modelName</string>
			<key>Required</key>
			<true/>
			<key>Name</key>
			<string>lItem</string>
			<key>Description</key>
			<string>The name of the model to create</string>
			<key>Type</key>
			<string>text</string>
			<key>NotPersisted</key>
			<true/>
			<key>Default</key>
			<string>Model</string>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>modelVariableName</string>
			<key>Required</key>
			<true/>
			<key>Name</key>
			<string>Model variable</string>
			<key>Description</key>
			<string>The name of the model variable to create</string>
			<key>Type</key>
			<string>text</string>
			<key>NotPersisted</key>
			<true/>
			<key>Default</key>
			<string>item</string>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>modelPluralVariableName</string>
			<key>Required</key>
			<true/>
			<key>Name</key>
			<string>Model plural variable</string>
			<key>Description</key>
			<string>The name of the model plural variable to create</string>
			<key>Type</key>
			<string>text</string>
			<key>NotPersisted</key>
			<true/>
			<key>Default</key>
			<string>items</string>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>modelPackage</string>
			<key>Required</key>
			<true/>
			<key>Name</key>
			<string>Model Package</string>
			<key>Description</key>
			<string>The name of the model to create</string>
			<key>Type</key>
			<string>text</string>
			<key>NotPersisted</key>
			<true/>
			<key>Default</key>
			<string>Database</string>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>environmentPackage</string>
			<key>Required</key>
			<true/>
			<key>Name</key>
			<string>Env Package</string>
			<key>Description</key>
			<string>The name of the environment package</string>
			<key>Type</key>
			<string>text</string>
			<key>NotPersisted</key>
			<true/>
			<key>Default</key>
			<string>Environment</string>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>routerDestinationType</string>
			<key>Required</key>
			<true/>
			<key>Name</key>
			<string>Router Destination</string>
			<key>Description</key>
			<string>The name of the destination</string>
			<key>Type</key>
			<string>text</string>
			<key>NotPersisted</key>
			<true/>
			<key>Default</key>
			<string>Screen</string>
		</dict>
	</array>
</dict>
</plist>
