--swiftversion 6.2
--disable preferKeyPath,redundantSendable
--exclude build,DerivedData,___VARIABLE_productName:RFC1034Identifier___.xcodeproj,**/.build,**/.swiftpm,**/Generated,**/*.generated.swift
--trailing-commas collections-only
