<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Concrete</key>
	<false/>
	<key>Identifier</key>
	<string>app.oversize.configs</string>
	<key>CFBundleIdentifier</key>
	<string></string>
	<key>Options</key>
	<array>
		<dict>
			<key>Identifier</key>
			<string>storageType</string>
			<key>Units</key>
			<dict>
				<key>SwiftData</key>
				<array>
					<dict>
						<key>Nodes</key>
						<array>
							<string>../scripts/init_packages_swiftdata_files.sh</string>
							<string>../makefile</string>
						</array>
						<key>Definitions</key>
						<dict>
							<key>../makefile</key>
							<dict>
								<key>Path</key>
								<string>makefile-SwiftData</string>
							</dict>
							<key>../scripts/init_packages_swiftdata_files.sh</key>
							<dict>
								<key>Path</key>
								<string>init_packages_swiftdata_files.sh</string>
								<key>Group</key>
								<array>
									<string>scripts</string>
								</array>
							</dict>
						</dict>
					</dict>
				</array>
			</dict>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>app-platform</string>
			<key>Units</key>
			<dict>
				<key>iOS</key>
				<array>
					<dict>
						<key>Nodes</key>
						<array>
							<string>../Configs/Targets.yml</string>
						</array>
						<key>Definitions</key>
						<dict>
							<key>../Configs/Targets.yml</key>
							<dict>
								<key>Path</key>
								<string>Targets-iOS.yml</string>
								<key>Group</key>
								<array>
									<string>Configs</string>
								</array>
							</dict>
						</dict>
					</dict>
				</array>
				<key>macOS</key>
				<array>
					<dict>
						<key>Nodes</key>
						<array>
							<string>../Configs/Targets.yml</string>
						</array>
						<key>Definitions</key>
						<dict>
							<key>../Configs/Targets.yml</key>
							<dict>
								<key>Path</key>
								<string>Targets-macOS.yml</string>
								<key>Group</key>
								<array>
									<string>Configs</string>
								</array>
							</dict>
						</dict>
					</dict>
				</array>
			</dict>
		</dict>
	</array>
	<key>Nodes</key>
	<array>
		<string>../makefile</string>
		<string>../project.yml</string>
		<string>../Configs/AppConfig.plist</string>
		<string>../.gitignore</string>
		<string>../.swiftformat</string>
		<string>../.swiftlint.yml</string>
		<string>../project_local.yml</string>
		<string>../Configs/Base.yml</string>
		<string>../Configs/Packages.yml</string>
		<string>../Configs/PackagesLocal.yml</string>
		<string>../Configs/Settings.yml</string>
		<string>../Configs/Targets.yml</string>
		<string>../scripts/init_packages.sh</string>
		<string>../scripts/init_packages_files.sh</string>
		<string>../scripts/build.sh</string>
		<string>../scripts/build_local.sh</string>
		<string>../ci_scripts/ci_post_clone.sh</string>
	</array>
	<key>Definitions</key>
	<dict>
		<key>../scripts/init_packages_files.sh</key>
		<dict>
			<key>Path</key>
			<string>init_packages_files.sh</string>
			<key>Group</key>
			<array>
				<string>scripts</string>
			</array>
		</dict>
		<key>../makefile</key>
		<dict>
			<key>Path</key>
			<string>makefile</string>
		</dict>
		<key>../.gitignore</key>
		<dict>
			<key>Group</key>
			<array>
				<string>App</string>
			</array>
			<key>Path</key>
			<string>.gitignore</string>
		</dict>
		<key>../.swiftformat</key>
		<dict>
			<key>Path</key>
			<string>.swiftformat</string>
			<key>Group</key>
			<array>
				<string>App</string>
			</array>
		</dict>
		<key>../.swiftlint.yml</key>
		<dict>
			<key>Path</key>
			<string>.swiftlint.yml</string>
			<key>Group</key>
			<array>
				<string>App</string>
			</array>
		</dict>
		<key>../project.yml</key>
		<dict>
			<key>Path</key>
			<string>project.yml</string>
		</dict>
		<key>../Configs/Base.yml</key>
		<dict>
			<key>Path</key>
			<string>Base.yml</string>
			<key>Group</key>
			<array>
				<string>Configs</string>
			</array>
		</dict>
		<key>../Configs/AppConfig.plist</key>
		<dict>
			<key>Path</key>
			<string>AppConfig.plist</string>
			<key>Group</key>
			<array>
				<string>Configs</string>
			</array>
		</dict>
		<key>../project_local.yml</key>
		<dict>
			<key>Path</key>
			<string>project_local.yml</string>
		</dict>
		<key>../Configs/Packages.yml</key>
		<dict>
			<key>Path</key>
			<string>Packages.yml</string>
			<key>Group</key>
			<array>
				<string>Configs</string>
			</array>
		</dict>
		<key>../Configs/PackagesLocal.yml</key>
		<dict>
			<key>Path</key>
			<string>PackagesLocal.yml</string>
			<key>Group</key>
			<array>
				<string>Configs</string>
			</array>
		</dict>
		<key>../Configs/Settings.yml</key>
		<dict>
			<key>Path</key>
			<string>Settings.yml</string>
			<key>Group</key>
			<array>
				<string>Configs</string>
			</array>
		</dict>
		<key>../scripts/init_packages.sh</key>
		<dict>
			<key>Path</key>
			<string>init_packages.sh</string>
			<key>Group</key>
			<array>
				<string>scripts</string>
			</array>
		</dict>
		<key>../scripts/build.sh</key>
		<dict>
			<key>Path</key>
			<string>build.sh</string>
			<key>Group</key>
			<array>
				<string>scripts</string>
			</array>
		</dict>
		<key>../scripts/build_local.sh</key>
		<dict>
			<key>Path</key>
			<string>build_local.sh</string>
			<key>Group</key>
			<array>
				<string>scripts</string>
			</array>
		</dict>
		<key>../ci_scripts/ci_post_clone.sh</key>
		<dict>
			<key>Path</key>
			<string>ci_post_clone.sh</string>
			<key>Group</key>
			<array>
				<string>ci_scripts</string>
			</array>
		</dict>
	</dict>
</dict>
</plist>
