<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Concrete</key>
	<false/>
	<key>Identifier</key>
	<string>app.oversize.xcodegen</string>
	<key>Options</key>
	<array>
		<dict>
			<key>Identifier</key>
			<string>xcodeGen</string>
			<key>Name</key>
			<string>XcodeGen:</string>
			<key>Description</key>
			<string>Xcodegen config type</string>
			<key>Values</key>
			<array>
				<string>None</string>
				<string>Basic project</string>
				<string>Multi-module prject</string>
			</array>
			<key>Default</key>
			<string>None</string>
			<key>Type</key>
			<string>popup</string>
			<key>Units</key>
			<dict>
				<key>Basic project</key>
				<array>
					<dict>
						<key>Nodes</key>
						<array>
							<string>../project.yml</string>
							<string>App/Debug.xcconfig</string>
							<string>App/Release.xcconfig</string>
							<string>App/Packages.yml</string>
							<string>App/LocalPackages.yml</string>
							<string>App/Settings.yml</string>
							<string>App/Targets.yml</string>
						</array>
						<key>Definitions</key>
						<dict>
							<key>../project.yml</key>
							<dict>
								<key>Path</key>
								<string>project.yml</string>
								<key>Group</key>
								<array>
									<string>App</string>
								</array>
							</dict>
							<key>App/Debug.xcconfig</key>
							<dict>
								<key>Path</key>
								<string>Debug.xcconfig</string>
								<key>Group</key>
								<array>
									<string>App</string>
								</array>
							</dict>
							<key>App/Release.xcconfig</key>
							<dict>
								<key>Path</key>
								<string>Release.xcconfig</string>
								<key>Group</key>
								<array>
									<string>App</string>
								</array>
							</dict>
							<key>App/Packages.yml</key>
							<dict>
								<key>Path</key>
								<string>Packages.yml</string>
								<key>Group</key>
								<array>
									<string>App</string>
								</array>
							</dict>
							<key>App/LocalPackages.yml</key>
							<dict>
								<key>Path</key>
								<string>LocalPackages.yml</string>
								<key>Group</key>
								<array>
									<string>App</string>
								</array>
							</dict>
							<key>App/Settings.yml</key>
							<dict>
								<key>Path</key>
								<string>Settings.yml</string>
								<key>Group</key>
								<array>
									<string>App</string>
								</array>
							</dict>
							<key>App/Targets.yml</key>
							<dict>
								<key>Path</key>
								<string>Targets.yml</string>
								<key>Group</key>
								<array>
									<string>App</string>
								</array>
							</dict>
						</dict>
					</dict>
				</array>
				<key>Multi-module prject</key>
				<array>
					<dict>
						<key>Nodes</key>
						<array>
							<string>../project.yml</string>
							<string>App/Debug.xcconfig</string>
							<string>App/Release.xcconfig</string>
							<string>App/Packages.yml</string>
							<string>App/Settings.yml</string>
							<string>App/Targets.yml</string>
							<string>Packages/createPackages.sh</string>
							<string>Packages/main.swift</string>
						</array>
						<key>Definitions</key>
						<dict>
							<key>../project.yml</key>
							<dict>
								<key>Path</key>
								<string>project.yml</string>
								<key>Group</key>
								<array>
									<string>App</string>
								</array>
							</dict>
							<key>App/Debug.xcconfig</key>
							<dict>
								<key>Path</key>
								<string>Debug.xcconfig</string>
								<key>Group</key>
								<array>
									<string>App</string>
								</array>
							</dict>
							<key>App/Release.xcconfig</key>
							<dict>
								<key>Path</key>
								<string>Release.xcconfig</string>
								<key>Group</key>
								<array>
									<string>App</string>
								</array>
							</dict>
							<key>App/Packages.yml</key>
							<dict>
								<key>Path</key>
								<string>Packages.yml</string>
								<key>Group</key>
								<array>
									<string>App</string>
								</array>
							</dict>
							<key>App/Settings.yml</key>
							<dict>
								<key>Path</key>
								<string>Settings.yml</string>
								<key>Group</key>
								<array>
									<string>App</string>
								</array>
							</dict>
							<key>Targets.yml</key>
							<dict>
								<key>Path</key>
								<string>Targets.yml</string>
								<key>Group</key>
								<array>
									<string>App</string>
								</array>
							</dict>
							<key>Packages/createPackages.sh</key>
							<dict>
								<key>Path</key>
								<string>createPackages.sh</string>
								<key>Group</key>
								<array>
									<string>Packages</string>
								</array>
							</dict>
							<key>Packages/main.swift</key>
							<dict>
								<key>Path</key>
								<string>main.swift</string>
								<key>Group</key>
								<array>
									<string>Packages</string>
								</array>
							</dict>
						</dict>
					</dict>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
