<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Identifier</key>
	<string>com.apple.dt.unit.application.SwiftUI.iOS.oversize</string>
	<key>Ancestors</key>
	<array>
		<string>com.apple.dt.unit.cocoaTouchApplicationBase</string>
		<string>com.apple.dt.unit.storageType</string>
	</array>
	<key>Definitions</key>
	<dict>
		<key>Preview Content/Preview Assets.xcassets</key>
		<dict>
			<key>SortOrder</key>
			<integer>100</integer>
			<key>Path</key>
			<string>Preview Assets.xcassets</string>
			<key>Group</key>
			<string>Preview Content</string>
		</dict>
	</dict>
	<key>Options</key>
	<array>
		<dict>
			<key>Identifier</key>
			<string>appLifecycle</string>
			<key>Units</key>
			<dict>
				<key>SwiftUI</key>
				<array>
					<dict>
						<key>Definitions</key>
						<dict>
							<key>Router/Alerts.swift</key>
							<dict>
								<key>Group</key>
								<array>
									<string>Router</string>
								</array>
								<key>Path</key>
								<string>Router/Alerts.swift</string>
							</dict>
							<key>Router/Screens.swift</key>
							<dict>
								<key>Group</key>
								<array>
									<string>Router</string>
								</array>
								<key>Path</key>
								<string>Router/Screens.swift</string>
							</dict>
							<key>Screens/AppSettings/AppSettingsView.swift</key>
							<dict>
								<key>Group</key>
								<array>
									<string>Screens</string>
									<string>AppSettings</string>
								</array>
								<key>Path</key>
								<string>Screens/AppSettings/AppSettingsView.swift</string>
							</dict>
							<key>Screens/AppSettings/AppSettingsPageView.swift</key>
							<dict>
								<key>Group</key>
								<array>
									<string>Screens</string>
									<string>AppSettings</string>
								</array>
								<key>Path</key>
								<string>Screens/AppSettings/AppSettingsPageView.swift</string>
							</dict>
							<key>Screens/AppSettings/AppSettingsPageViewModel.swift</key>
							<dict>
								<key>Group</key>
								<array>
									<string>Screens</string>
									<string>AppSettings</string>
								</array>
								<key>Path</key>
								<string>Screens/AppSettings/AppSettingsPageViewModel.swift</string>
							</dict>
							<key>Screens/AppSettings/AppSettingsViewModel.swift</key>
							<dict>
								<key>Group</key>
								<array>
									<string>Screens</string>
									<string>AppSettings</string>
								</array>
								<key>Path</key>
								<string>Screens/AppSettings/AppSettingsViewModel.swift</string>
							</dict>
							<key>Screens/Onboarding/OnboardingView.swift</key>
							<dict>
								<key>Group</key>
								<array>
									<string>Screens</string>
									<string>Onboarding</string>
								</array>
								<key>Path</key>
								<string>Screens/Onboarding/OnboardingView.swift</string>
							</dict>
							<key>Screens/Main/MainViewModel.swift</key>
							<dict>
								<key>Group</key>
								<array>
									<string>Screens</string>
									<string>Main</string>
								</array>
								<key>Path</key>
								<string>Screens/Main/MainViewModel.swift</string>
							</dict>
						</dict>
						<key>Nodes</key>
						<array>
							<string>Preview Content/Preview Assets.xcassets</string>
							<string>Screens/AppSettings/AppSettingsView.swift</string>
							<string>Screens/AppSettings/AppSettingsViewModel.swift</string>
							<string>Screens/AppSettings/AppSettingsPageView.swift</string>
							<string>Screens/AppSettings/AppSettingsPageViewModel.swift</string>
							<string>Screens/Onboarding/OnboardingView.swift</string>
							<string>Screens/Main/MainView.swift</string>
							<string>Screens/Main/MainViewModel.swift</string>
							<string>Router/Alerts.swift</string>
							<string>Router/Screens.swift</string>
						</array>
						<key>Targets</key>
						<array>
							<dict>
								<key>SharedSettings</key>
								<dict>
									<key>ENABLE_PREVIEWS</key>
									<string>YES</string>
									<key>DEVELOPMENT_ASSET_PATHS</key>
									<string>___PACKAGENAMEPREVIEWCONTENT:quoteIfNeeded___</string>
									<key>INFOPLIST_KEY_UIApplicationSceneManifest_Generation</key>
									<string>YES</string>
									<key>INFOPLIST_KEY_UILaunchScreen_Generation</key>
									<string>YES</string>
									<key>INFOPLIST_FILE</key>
									<string>${PRODUCT_NAME}/Resources/Info.plist</string>
									<key>INFOPLIST_KEY_UISupportedInterfaceOrientations_iPhone</key>
									<string>UIInterfaceOrientationPortrait</string>
								</dict>
							</dict>
						</array>
					</dict>
					<dict>
						<key>RequiredOptions</key>
						<dict>
							<key>storageType</key>
							<string>None</string>
						</dict>
						<key>Nodes</key>
						<array>
							<string>Screens/Main/MainView.swift</string>
							<string>Resources/AppConfig.plist</string>
						</array>
						<key>Definitions</key>
						<dict>
							<key>Screens/Main/MainView.swift</key>
							<dict>
								<key>Group</key>
								<array>
									<string>Screens</string>
									<string>Main</string>
								</array>
								<key>Path</key>
								<string>Screens/Main/MainView.swift</string>
							</dict>
							<key>Resources/AppConfig.plist</key>
							<dict>
								<key>Group</key>
								<array>
									<string>Resources</string>
								</array>
								<key>Path</key>
								<string>Resources/AppConfig.plist</string>
							</dict>
						</dict>
					</dict>
					<dict>
						<key>RequiredOptions</key>
						<dict>
							<key>storageType</key>
							<string>Core Data</string>
						</dict>
						<key>Nodes</key>
						<array>
							<string>Screens/Main/MainView.swift</string>
							<string>Resources/AppConfig.plist</string>
							<string>Resources/___PACKAGENAMEASIDENTIFIER___.xcdatamodeld</string>
							<string>Services/CoreData/Models/ItemExtension.swift</string>
							<string>Services/CoreData/Service/PersistenceController.swift</string>
							<string>Resources/Generated/CoreData.swift</string>
							<string>Resources/Scripts/Templates/CoreDataTemplate.stencil</string>
						</array>
						<key>Definitions</key>
						<dict>
							<key>Screens/Main/MainView.swift</key>
							<dict>
								<key>Group</key>
								<array>
									<string>Screens</string>
									<string>Main</string>
								</array>
								<key>Path</key>
								<string>Screens/Main/MainViewCoreData.swift</string>
							</dict>
							<key>Resources/Generated/CoreData.swift</key>
							<dict>
								<key>Group</key>
								<array>
									<string>Resources</string>
									<string>Generated</string>
								</array>
								<key>Path</key>
								<string>Resources/Generated/CoreData.swift</string>
							</dict>
							<key>Resources/Scripts/Templates/CoreDataTemplate.stencil</key>
							<dict>
								<key>Group</key>
								<array>
									<string>Resources</string>
									<string>Scripts</string>
									<string>Templates</string>
								</array>
								<key>Path</key>
								<string>Resources/Scripts/Templates/CoreDataTemplate.stencil</string>
							</dict>
							<key>Resources/AppConfig.plist</key>
							<dict>
								<key>Group</key>
								<array>
									<string>Resources</string>
								</array>
								<key>Path</key>
								<string>Resources/AppConfigCoreData.plist</string>
							</dict>
							<key>Resources/___PACKAGENAMEASIDENTIFIER___.xcdatamodeld</key>
							<dict>
								<key>Group</key>
								<array>
									<string>Resources</string>
								</array>
								<key>Path</key>
								<string>Resources/___PACKAGENAMEASIDENTIFIER___.xcdatamodeld</string>
							</dict>
							<key>Services/CoreData/Models/ItemExtension.swift</key>
							<dict>
								<key>Group</key>
								<array>
									<string>Services</string>
									<string>CoreData</string>
									<string>Models</string>
								</array>
								<key>Path</key>
								<string>Services/CoreData/Models/ItemExtension.swift</string>
							</dict>
							<key>Services/CoreData/Service/PersistenceController.swift</key>
							<dict>
								<key>Group</key>
								<array>
									<string>Services</string>
									<string>CoreData</string>
									<string>Service</string>
								</array>
								<key>Path</key>
								<string>Services/CoreData/Service/PersistenceController.swift</string>
							</dict>
						</dict>
					</dict>
					<dict>
						<key>RequiredOptions</key>
						<dict>
							<key>storageType</key>
							<string>SwiftData</string>
						</dict>
						<key>Nodes</key>
						<array>
							<string>Services/SwiftData/Models/Item.swift</string>
						</array>
						<key>Definitions</key>
						<dict>
							<key>Services/SwiftData/Models/Item.swift</key>
							<dict>
								<key>Path</key>
								<string>Services/SwiftData/Models/Item-SwiftData.swift</string>
								<key>Group</key>
								<array>
									<string>Services</string>
									<string>SwiftData</string>
									<string>Models</string>
								</array>
								<key>SortOrder</key>
								<integer>99</integer>
							</dict>
						</dict>
					</dict>
					<dict>
						<key>RequiredOptions</key>
						<dict>
							<key>storageType</key>
							<string>None</string>
						</dict>
						<key>Targets</key>
						<array>
							<dict>
								<key>SharedSettings</key>
								<dict>
									<key>IPHONEOS_DEPLOYMENT_TARGET</key>
									<string>16.0</string>
								</dict>
							</dict>
						</array>
					</dict>
					<dict>
						<key>RequiredOptions</key>
						<dict>
							<key>storageType</key>
							<string>Core Data</string>
						</dict>
						<key>Targets</key>
						<array>
							<dict>
								<key>SharedSettings</key>
								<dict>
									<key>IPHONEOS_DEPLOYMENT_TARGET</key>
									<string>16.0</string>
								</dict>
							</dict>
						</array>
					</dict>
					<dict>
						<key>RequiredOptions</key>
						<dict>
							<key>storageType</key>
							<string>SwiftData</string>
						</dict>
						<key>Targets</key>
						<array>
							<dict>
								<key>SharedSettings</key>
								<dict>
									<key>IPHONEOS_DEPLOYMENT_TARGET</key>
									<string>17.0</string>
								</dict>
							</dict>
						</array>
					</dict>
				</array>
				<key>Cocoa</key>
				<array>
					<dict>
						<key>RequiredOptions</key>
						<dict>
							<key>userInterface</key>
							<string>SwiftUI</string>
						</dict>
						<key>Nodes</key>
						<array>
							<string>Screens/Main/MainViewModel.swift</string>
						</array>
						<key>Definitions</key>
						<dict>
							<key>Screens/Main/MainViewModel.swift</key>
							<dict>
								<key>Group</key>
								<array>
									<string>Screens</string>
									<string>Main</string>
								</array>
								<key>Path</key>
								<string>Screens/Main/MainViewModel.swift</string>
							</dict>
						</dict>
					</dict>
				</array>
			</dict>
		</dict>
		<dict>
			<key>RequiredOptions</key>
			<dict>
				<key>userInterface</key>
				<string>SwiftUI</string>
			</dict>
			<key>Identifier</key>
			<string>navigation</string>
			<key>Name</key>
			<string>Navigation:</string>
			<key>Description</key>
			<string>The type of navigation.</string>
			<key>Values</key>
			<array>
				<string>Basic</string>
				<string>TabBar</string>
			</array>
			<key>Default</key>
			<string>Basic</string>
			<key>Type</key>
			<string>popup</string>
			<key>Units</key>
			<dict>
				<key>Basic</key>
				<array>
					<dict>
						<key>Nodes</key>
						<array>
							<string>Router/Router.swift</string>
						</array>
						<key>Definitions</key>
						<dict>
							<key>Router/Router.swift</key>
							<dict>
								<key>Group</key>
								<array>
									<string>Router</string>
								</array>
								<key>Path</key>
								<string>Router/Router.swift</string>
							</dict>
						</dict>
					</dict>
					<dict>
						<key>RequiredOptions</key>
						<dict>
							<key>storageType</key>
							<string>None</string>
						</dict>
						<key>Nodes</key>
						<array>
							<string>___PACKAGENAME:identifier___App.swift</string>
						</array>
						<key>Definitions</key>
						<dict>
							<key>___PACKAGENAME:identifier___App.swift</key>
							<dict>
								<key>Path</key>
								<string>App.swift</string>
								<key>SortOrder</key>
								<integer>97</integer>
							</dict>
						</dict>
					</dict>
					<dict>
						<key>RequiredOptions</key>
						<dict>
							<key>storageType</key>
							<string>Core Data</string>
						</dict>
						<key>Nodes</key>
						<array>
							<string>___PACKAGENAME:identifier___App.swift</string>
						</array>
						<key>Definitions</key>
						<dict>
							<key>___PACKAGENAME:identifier___App.swift</key>
							<dict>
								<key>Path</key>
								<string>App-CoreData.swift</string>
								<key>SortOrder</key>
								<integer>97</integer>
							</dict>
						</dict>
					</dict>
					<dict>
						<key>RequiredOptions</key>
						<dict>
							<key>storageType</key>
							<string>SwiftData</string>
						</dict>
						<key>Nodes</key>
						<array>
							<string>___PACKAGENAME:identifier___App.swift</string>
						</array>
						<key>Definitions</key>
						<dict>
							<key>___PACKAGENAME:identifier___App.swift</key>
							<dict>
								<key>Path</key>
								<string>App-SwiftData.swift</string>
								<key>SortOrder</key>
								<integer>97</integer>
							</dict>
						</dict>
					</dict>
				</array>
				<key>TabBar</key>
				<array>
					<dict>
						<key>Nodes</key>
						<array>
							<string>Router/Router.swift</string>
							<string>Router/Tabs.swift</string>
						</array>
						<key>Definitions</key>
						<dict>
							<key>Router/Router.swift</key>
							<dict>
								<key>Group</key>
								<array>
									<string>Router</string>
								</array>
								<key>Path</key>
								<string>Router/Router-TabBar.swift</string>
							</dict>
							<key>Router/Tabs.swift</key>
							<dict>
								<key>Group</key>
								<array>
									<string>Router</string>
								</array>
								<key>Path</key>
								<string>Router/Tabs.swift</string>
							</dict>
						</dict>
					</dict>
					<dict>
						<key>RequiredOptions</key>
						<dict>
							<key>storageType</key>
							<string>None</string>
						</dict>
						<key>Nodes</key>
						<array>
							<string>___PACKAGENAME:identifier___App.swift</string>
						</array>
						<key>Definitions</key>
						<dict>
							<key>___PACKAGENAME:identifier___App.swift</key>
							<dict>
								<key>Path</key>
								<string>AppTabs.swift</string>
								<key>SortOrder</key>
								<integer>97</integer>
							</dict>
						</dict>
					</dict>
					<dict>
						<key>RequiredOptions</key>
						<dict>
							<key>storageType</key>
							<string>Core Data</string>
						</dict>
						<key>Nodes</key>
						<array>
							<string>___PACKAGENAME:identifier___App.swift</string>
						</array>
						<key>Definitions</key>
						<dict>
							<key>___PACKAGENAME:identifier___App.swift</key>
							<dict>
								<key>Path</key>
								<string>AppTabs-CoreData.swift</string>
								<key>SortOrder</key>
								<integer>97</integer>
							</dict>
						</dict>
					</dict>
					<dict>
						<key>RequiredOptions</key>
						<dict>
							<key>storageType</key>
							<string>SwiftData</string>
						</dict>
						<key>Nodes</key>
						<array>
							<string>___PACKAGENAME:identifier___App.swift</string>
						</array>
						<key>Definitions</key>
						<dict>
							<key>___PACKAGENAME:identifier___App.swift</key>
							<dict>
								<key>Path</key>
								<string>AppTabs-SwiftData.swift</string>
								<key>SortOrder</key>
								<integer>97</integer>
							</dict>
						</dict>
					</dict>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
